@use "/src/theme/colors.scss";

.projects {
  list-style: none;
  padding: 0;

  display: flex;
  justify-content: space-evenly;

  overflow: hidden;

  li {
    width: 25%;
    height: 25vh;
  }
}

.imageViewer {
  .fullImageContainer {
    width: 100% !important;
    overflow-y: scroll;

    img {
      width: 100%;
    }
  }

  & > div {
    & > div:first-child {
      z-index: 3;

      & > * {
      }
    }

    & > div:last-child {
      overflow-y: hidden;
      transform: translateY(1rem);
    }
  }
}
